<div *ngIf="childCurrentCharacter">
  <h3>{{childCurrentCharacter.name}}</h3>
  <h4>Class: {{childCurrentCharacter.charClass}}</h4>
  <ul>
    <li><strong>Level: {{childCurrentCharacter.level}}</strong></li>
    <li>EXPERIENCE: {{childCurrentCharacter.experience}} / {{childCurrentCharacter.maxExperience}}</li>
    <li>Current Health: {{childCurrentCharacter.health}} / {{childCurrentCharacter.maxHealth}}</li>
    <li>Current Mana: {{childCurrentCharacter.mana}} / {{childCurrentCharacter.maxMana}}</li>
    <li>Strength: {{childCurrentCharacter.strength}}</li>
    <li>Defense: {{childCurrentCharacter.defense}}</li>
    <li>Intelligence: {{childCurrentCharacter.intelligence}}</li>
    <li>Dexterity: {{childCurrentCharacter.dexterity}}</li>
    <li>Abilities:
      <ul>
      <li *ngFor="let ability of childCurrentCharacter.abilities"> {{ability.name}} </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li *ngFor="let currentItem of childCurrentCharacter.items; let i = index" [attr.data-index]="i">
      <h4>{{currentItem.name}}</h4>
      <button type="button" (click)="childCurrentCharacter.useItem(currentItem, i)">Use Item</button>
    </li>
  </ul>
</div>
